@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranYekanBakh";
  src: local("IranYekanBakh"),
    url("/src/assets/Fonts/Yekan Bakh Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sahel";
  src: local("Sahel"), url("/src/assets/Fonts/Sahel.ttf") format("truetype");
}

* {
  font-family: IranYekanBakh,Sahel;
  direction: rtl;
}
